@inject IHttpContextAccessor contxt;
@{
    Layout = "_LayoutProfile";
}

<div style="margin-top: 20px" class="card mb-4">
    <div class="card-header py-3">
        <div>
            <h4 class="m-0 font-weight-bold text-primary">User Details</h4>
        </div>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6" id="NameBlock">
                    @*<label for="inputEmail4">Full Name</label>
                    <input type="text" class="form-control" id="fullname" placeholder="Enter Full Name" required>*@
                </div>
                <div class="form-group col-md-6" id="userNameBlock">
                    @*<label for="inputEmail4">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter User Name" required>*@
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6" id="emailblock">
                    @*<label for="inputEmail4">Email</label>
                    <input type="number" class="form-control" id="email" placeholder="Email" required>*@
                </div>
                <div class="form-group col-md-6" id="phoneblock">
                     @*<label for="inputEmail4">Phone</label>
                    <input type="number" class="form-control" id="phone" placeholder="Phone" required>*@
                </div>
            </div>
            <div class="form-group" id="addressblock">
                @*<label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address" required>*@
            </div>
            <div class="form-group" id="roleblock">
                @*<label for="inputAddress">Role</label>
                <input type="text" class="form-control" id="role" readonly>*@
            </div>
            <div class="form-group" id="passwordblock">
                @*<label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>*@
            </div>
            <button type="button" id="save" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        console.log(@ViewData["accountId"]);
        var id = @ViewData["accountId"];

        $(document).ready(function () {

            $('#save').click(() => {
                let accountid = id,
                    fullname = $('#fullname').val(),
                    userRole = $('#role').val();
                    username = $('#username').val(),
                    address = $('#address').val(),
                    phone = $('#phone').val(),
                    email = $('#email').val(),
                    password = $('#password').val();

                $.ajax({
                    url: `http://localhost:5104/api/User/Update/${id}`,
                    method: 'PUT',
                    beforeSend: function (xhr) {
                        // Use proper concatenation to include the token in the header
                        xhr.setRequestHeader('Authorization', 'Bearer ' + '@contxt.HttpContext.Session.GetString("JWToken")');
                    },
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "accountId": accountid,
                        "fullName": fullname,
                        "userName": username,
                        "role": userRole,
                        "email": email,
                        "address": address,
                        "phone": phone,
                        "password": password
                    }),
                    success: function (data) {
                        console.log(data);
                        alert("Update profile successfully\nPress Ok to return Shop Page");
                        window.location.href = "http://localhost:5007/Home/Shop";
                    },
                    error: function (xhr, status, error) {
                        console.log("error");
                        //console.log(usernameR + "\n" + passwordR + "\n" + emailR + "\n" + phoneR + "\n" + fullNameR);
                    }

                })
            })

            $.ajax({
                url: `http://localhost:5104/api/User/SearchUserById/${id}`,
                method: 'GET',
                beforeSend: function (xhr) {
                    // Use proper concatenation to include the token in the header
                    xhr.setRequestHeader('Authorization', 'Bearer ' + '@contxt.HttpContext.Session.GetString("JWToken")');
                },
                contentType: 'application/json',
                success: (data) => {
                    //$('#content-detail').html('');
                    //nếu có data trả về
                    if (data) {
                        //trỏ debug ở đây để debug trên web
                        //debugger

                        $('#NameBlock').html(generateHtmlNameblock(data));
                        $('#userNameBlock').html(generateHtmluserNameBlock(data));
                        $('#emailblock').html(generateHtmlemailblock(data));
                        $('#phoneblock').html(generateHtmlphoneblock(data));
                        $('#addressblock').html(generateHtmladdressblock(data));
                        $('#roleblock').html(generateHtmlroleblock(data));
                        $('#passwordblock').html(generateHtmlPasswordblock(data));
                    }
                },
                error: (data) => {

                }
            })

            const generateHtmlNameblock = (data) => {
                return `
                    <label for="inputEmail4">Full Name</label>
                    <input type="text" value="${data.fullName}" class="form-control" id="fullname" placeholder="Enter Full Name" required>
                `
            }

            const generateHtmluserNameBlock = (data) => {
                return `
                    <label for="inputEmail4">User Name</label>
                    <input type="text" value="${data.userName}" class="form-control" id="username" placeholder="Enter User Name" required>
                `
            }

            const generateHtmlemailblock = (data) => {
                return `
                    <label for="inputEmail4">Email</label>
                    <input type="text" value="${data.email}" class="form-control" id="email" placeholder="Email" required>
                `
            }

            const generateHtmlphoneblock = (data) => {
                return `
                    <label for="inputEmail4">Phone</label>
                    <input type="text" value="${data.phone}" class="form-control" id="phone" placeholder="Phone" required>
                `
            }

            const generateHtmladdressblock = (data) => {
                return `
                    <label for="inputEmail4">Address</label>
                    <input type="text" value="${data.address}" class="form-control" id="address" placeholder="Address" required>
                `
            }

            const generateHtmlroleblock = (data) => {
                return `
                    <label for="inputEmail4">Role</label>
                    <input type="text" value="${data.role}" id="role" class="form-control" readonly>
                `
            }

            const generateHtmlPasswordblock = (data) => {
                return `
                    <label hidden for="exampleFormControlTextarea1">Email</label>
                    <input hidden type="text" value="${data.password}" class="form-control" id="password" rows="3" readonly>
                `
            }
           
        });
    </script>
}